<div class="blaze-slider main-product-slider-images">
    <div class="blaze-container">
        <div class="blaze-track-container">
            <div class="blaze-track">
                {% for image in product.images %}
                    <div class="blaze-slide">
                        <img src="{{ image.src | image_url: width: 360, height: 444 }}" alt="{{ image.alt | escape }}" height="auto" width="auto" loading="lazy">
                    </div>
                {% endfor %}
            </div>
            <div class="blaze-pagination blaze-pagination-main-product-slider-images"></div>
        </div>
    </div>
</div>