<form class="header__search" action="{{ routes.search_url }}">
  <div class="search_input__container">
    <input
      type="text"
      class="search_input"
      placeholder="search"
      name="q"
      value="{{ search.terms | escape }}">
    <button type="submit">
      {{ 'search.svg' | inline_asset_content }}
    </button>
  </div>
  <div class="search_btn">
    {{ 'search.svg' | inline_asset_content }}
  </div>
</form>