#relatedProductSection {
    max-width: var(--page-width);
    margin-inline: auto;
    padding-block: 4rem 9rem;

    @media screen and (min-width: 1600px) {
        max-width: 1520px;
    }

    :is(cart-related-products) {
        .cart_related_products__content {
            .related_products_title {
                text-align: left;
            }

            .cart_related_carousel {
                display: grid;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                grid-template-rows: repeat(3, minmax(0, 1fr));
                padding: 0;
                border: none;
                justify-content: space-between;
                gap: 2.6rem;
                padding-bottom: 1rem;


                @media screen and (min-width: 768px) {
                    grid-template-columns: repeat(3, minmax(0, 1fr));  
                    grid-template-rows: minmax(0, 1fr);         
                }

                .cart_related_product__container {
                    max-width: 100%;
                    flex-grow: 1;
                    min-width: auto;

                    @media screen and (min-width: 768px) {
                        display: grid;
                        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
                        grid-template-rows: minmax(0, 1fr) minmax(0, .25fr);
                    }

                    .cart_related_product_image {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;

                        @media screen and (min-width: 768px) {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .cart_related_product__content {
                        align-items: flex-start;
                        justify-content: center;
                        gap: 1rem;

                        :is(a) {
                            text-decoration: none;
                            text-align: left;
                            width: 100%;
                        }

                        .cart_related_product_title, .cart_related_product_price {
                            text-align: left;
                        }

                        .cart_related_product_price {
                            margin-block: 0;
                        }

                        .info_installment {
                            display: flex;
                            color: var(--dark-gray);
                            font-size: clamp(1.2rem, 2vw, 1.6rem);
                            font-weight: 300;
                        }

                        .cart_related_product_select_variant {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            margin-top: .2rem;
                            margin-bottom: 0;
                            width: 100%;
                            justify-content: flex-start;
                            gap: 1rem;

                            .cart_related_product_label  {
                                text-align: left;
                                display: flex;
                                width: 50%;
                                white-space: wrap; 
                                overflow: visible;
                                color: var(--dark-blue);
                            }

                            .variant-select {
                                width: 100%;
                                color: var(--dark-blue);
                                padding: .6rem 1.6rem;
                                border-radius: 10rem;
                                border: 1px solid #C1C0BC;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 90%;
                                text-align: left;
                            }
                        }

                        .cart_related_product_title {
                            font-size: clamp(1.2rem, 2vw, 2rem);
                        }

                        .cart_related_product_price {
                            font-size: clamp(1.2rem, 2vw, 1.6rem);
                        }

                        .cart_related_product_button {
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: center;

                            @media screen and (min-width: 768px) {
                                display: none;
                            }

                            .cart_related_product_add {
                                display: flex;
                                width: 100%;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

                @media screen and (min-width: 768px) {
                    .cart_related_product_add {
                        display: none;
                    }
    
                    .related_product_section_add {
                        display: block;
                        grid-area: 2/1/2/3;
                        height: 100%;
    
                        .related_product_section_add__a {
                            display: flex;
                            color: var(--dark-blue);
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            border: 1px solid var(--dark-blue);
                            transition: .3s;
                            font-weight: 500;
                            border-radius: 10rem;
                            cursor: pointer;

                            &.active {
                                background: var(--dark-blue);
                                color: var(--white);
                            }
                            
                            &:hover {
                                background: var(--dark-blue);
                                color: var(--white);
                            }
                        }
                    }
                } 
                
                &::-webkit-scrollbar {
                    width: 2px; 
                    height: 2px; 
                }

                &::-webkit-scrollbar-track {
                    background: transparent; 
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--dark-blue); 
                    border-radius: 10px;
                    border: 3px solid transparent; 
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: rgba(var(--dark-blue-rgb), 0.8); 
                }

                @media screen and (max-width: 768px) {
                    &::-webkit-scrollbar {
                        display: none; 
                    }
                }
            }
        }
    }
}