:root{
    --product-card-title: clamp(1.4rem, 2.5vw, 2rem);
    --product-card-price: clamp(1.4rem, 2.5vw, 1.8rem);
    --product-card-compare-price: clamp(1rem, 2.5vw, 1.6rem);
    --product-card-installments: clamp(1rem, 2.5vw, 1.6rem);

    --product-card-tag: clamp(1rem , 2.5vw, 1.2rem);
}

product-card{
    max-width: 30rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .product-card-images{
        width: 100%;
        height: 100%;
        position: relative;
        aspect-ratio: 9 / 12;
        overflow: hidden;

        :is(a){
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 1.6rem;
            overflow: hidden;

            :is(img){
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .first-image{
                opacity: 1;
                transition: opacity 0.5s;
            }
    
            .second-image{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.5s;
                border-radius: 1.6rem;
            }
        }

        &:hover:has(.second-image){
            .first-image{
                opacity: 0;
            }
            .second-image{
                opacity: 1;
            }
        }

        .container-tag {
            position: absolute;
            display: block;
            z-index: 3;
            top: 5%;
            left: 5%;         

            .tag {
                color: var(--white);
                font-family: var(--font-rebond);
                font-size: var(--product-card-tag);
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border-radius: 10rem;
                background: var(--pink);
                padding: 0.6rem 1.4rem;
            }
        }

        .favorite_product_heart {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: clamp(.8rem, 2vw, 2rem);
            right: clamp(.8rem, 2vw, 2rem);
            cursor: pointer;
            opacity: 0;
            transition: .3s;

            :is(svg) {
                transition: .3s;

                :is(path) {
                    transition: .3s;
                }
            }

            &.active {
                :is(svg) {
                    fill: var(--pink);

                    :is(path) {
                        stroke: var(--pink);
                    }
                }
            }
        }
    }

    .content-product{
        display: flex;
        flex-direction: column;
        gap: clamp(0.3rem, 2.5vw, 0.5rem);

        :is(a){
            text-decoration: none; 
            .title-product{
                color: var(--dark-blue);
                font-family: var(--font-rebond);
                font-size: var(--product-card-title);
                font-style: normal;
                font-weight: 600;
                line-height: 140%; 
                white-space: nowrap; 
                overflow: hidden;    
                text-overflow: ellipsis; 
                width: 95%; 
            }
        }

        .product-price-installments{
            .price-product{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                color: var(--dark-blue);
                font-family: var(--font-rebond);
                font-size: var(--product-card-price);
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                s{
                    color: var(--dark-blue);
                    font-size: var(--product-card-compare-price);
                    font-weight: 400;
                    text-decoration: line-through;
                }
            }

            .info_installment{
                color: var(--dark-gray);
                font-family: var(--font-rebond);
                font-size: var(--product-card-installments);
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 2.24rem */
            }
        }
    }

    &:hover {
        .product-card-images {
            .favorite_product_heart {
                opacity: 1;
            }
        }
    }
}
