.btn-link {
    display: flex;
    width: fit-content;
    padding: 1.2rem 2.4rem;
    color: var(--dark-blue);
    background: transparent;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid var(--dark-blue);
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
    text-transform: uppercase;

    &.btn-link--mobile-full-width {
        width: 100%;
        max-width: var(--page-max-width);
    }
}