<div id="relatedProductSection">
    {% render 'cart-related-products' %}
</div>

{% schema %}
    {
        "name": "t:sections.related-products.name",
        "settings": [],
        "presets": [
            {
                "name": "t:sections.related-products.presets.name"
            }
        ]
    }
{% endschema %}