:root {
    --carousel-products-title: clamp(2rem, 2.5vw, 3.2rem);
    --carousel-products-button: clamp(1.4rem, 2.5vw, 1.8rem);
}

carousel-products {
    display: block;
    max-width: var(--page-width);
    margin: 0 auto;
    width: 100%;
    padding-block: clamp(5rem, 5.5vw, 9rem);
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 2.5vw, 2.5rem);

    .header-carousel-products {
        .title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            p {
                color: var(--dark-blue);
                text-align: center;
                font-family: var(--font-rebond);
                font-size: var(--carousel-products-title);
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            img {
                width: clamp(2rem, 2.5vw, 3rem);
                height: clamp(2rem, 2.5vw, 3rem);
            }
        }

    }

    .carousel-product-slider {
        position: relative;

        .carousel-product-blaze-container {
            .carousel-product-blaze-track-container {
                display: flex;
                flex-direction: column;
                gap: clamp(2rem, 2.5vw, 2.5rem);

                .carousel-product-blaze-track {
                    product-card {
                        max-width: unset;
                    }
                }

                .blaze-pagination-carousel-product {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    :is(button) {
                        border-radius: 50%;
                        border: 1.14px solid var(--dark-blue);
                        background: transparent;
                        width: 1rem;
                        height: 1rem;
                        font-size: 0;
                        transition: all 0.3s ease;

                        &.active {
                            border-radius: 3.5rem;
                            border: 1.14px solid var(--dark-blue);
                            background: var(--dark-blue);
                        }
                    }
                }
            }
        }

        .carousel-product--prev {
            position: absolute;
            top: 50%;
            left: -2%;
            transform: translate(-50%, -50%);
            border: none;
            background-color: transparent;
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @media screen and (min-width: 768px) {
                display: flex;
            }

            &:hover {
                :is(svg) {
                    :is(g) {
                        :is(rect) {
                            fill: var(--light-blue);
                        }
                    }
                }
            }

            svg {
                width: 100%;
                height: 100%;
                display: block;
                transform: rotate(180deg);

                :is(g) {
                    :is(rect) {
                        fill: var(--dark-blue);
                        transition: fill 0.3s;
                    }

                    :is(path) {
                        stroke: var(--white);
                        transition: stroke 0.3s;
                    }
                }
            }
        }

        .carousel-product--next {
            position: absolute;
            top: 50%;
            right: -5%;
            transform: translate(-50%, -50%);
            border: none;
            background-color: transparent;
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @media screen and (min-width: 768px) {
                display: flex;
            }

            &:hover {
                :is(svg) {
                    :is(g) {
                        :is(rect) {
                            fill: var(--light-blue);
                        }
                    }
                }
            }

            svg {
                width: 100%;
                height: 100%;
                display: block;

                :is(g) {
                    :is(rect) {
                        fill: var(--dark-blue);
                        transition: fill 0.3s;
                    }

                    :is(path) {
                        stroke: var(--white);
                        transition: stroke 0.3s;
                    }
                }
            }
        }

        .carousel-product--prev[disabled], .carousel-product--next[disabled] {            
            pointer-events: none;

            svg {
                :is(g) {
                    :is(rect) {
                        fill: var(--light-gray);
                    }
                }
            }
        }
    }

    .button-carousel-products {
        display: flex;
        justify-content: center;
        align-items: center;

        :is(a) {
            color: var(--dark-blue);
            font-family: var(--font-rebond);
            font-size: var(--carousel-products-button);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
            border-radius: 10rem;
            border: 1px solid var(--dark-blue);
            padding: 1.4rem 3.2rem;
            display: block;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: var(--dark-blue);
                color: var(--white);
            }
        }
    }
}