image-grid-carousel {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .container-grid {
        display: none;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .image-grid-image {
                width: 100%;
            }
        }
    }

    .container-carousel {
        display: block;

        @media screen and (min-width: 768px) {
            display: none;
        }

        .grid-image-slider {
            .blaze-container {
                .blaze-track-container {
                    display: flex;
                    flex-direction: column;
                    gap: clamp(2rem, 2.5vw, 2.4rem);
                    
                    .blaze-track {
                        .slide-container-image {
                            .image-grid-carousel-slide {
                                width: 100%;
                            }
                        }
                    }

                    .blaze-pagination-grid-image {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;

                        :is(button) {
                            border-radius: 50%;
                            border: 1.14px solid var(--dark-blue);
                            background: transparent;
                            width: 1rem;
                            height: 1rem;
                            font-size: 0;
                            transition: all 0.3s ease;

                            &.active {
                                border-radius: 3.5rem;
                                border: 1.14px solid var(--dark-blue);
                                background: var(--dark-blue);
                            }
                        }
                    }
                }
            }
        }
    }
}